extends layout.pug

block content
  d.page_content
    h1 #{question.title}
    div#question
        h3.question-content= content
        div
            div.question-info
                a asked by: #{question.User.displayName}
                br
                a asked on: #{(question.updatedAt).toString().split(' ').slice(0,4).join(' ')}
            if locals.user
                div.question-buttons
                    if locals.authenticated
                        form(action=`/questions/${question.id}/answers`, method='get')
                            button(id=`question-${question.id}`) Answer
                    if locals.user.id === question.userId
                        form(action=`/questions/${question.id}/delete` method='post')
                            button.delete-button Delete
    if answers
      div.answer-container
        each answer in answers
            div= answer.content
            if answer.userId == user.id
              form(class="answer-utils" action=`/api/answers/${answer.id}/delete` method="POST")
                button(class="answer-util-btn")  Delete
    form(action=`/questions/${question.id}/answers`, method='post')
                input(type='hidden',name='_csrf',value=csrfToken)
                p.body Your Answer
                textarea(style='resize: none',name ='answerContents')
                button.submit(name='submitAnswer') Submit Answer
