extends layout.pug

append head
  script(src="/javascripts/question.js" type="module" defer)

block content
  d.page_content
    .content
    .main
      h1 #{question.title}
      div#question
        h3.question-content= content
        div.question-info-content
            div.question-info
                a Asked by: #{question.User.displayName}
                a Asked on: #{(question.updatedAt).toString().split(' ').slice(0,4).join(' ')}
            div.question-button
              if locals.user
                if locals.authenticated
                  if locals.user.id === question.userId
                    form(action=`/questions/${question.id}/delete` method='post')
                      button.delete-button Delete
      div.answer-container
        if answers
          each answer in answers
            d(id=`answer-${answer.id}`)
                if user
                  form(action=`/answers/${answer.id}/upvote` method="POST")
                    button(class=`upvote` id=`${answer.id}`) ▲
                div(class=`score-${answer.id}`)= answer.score
                if user
                  form(action=`/answers/${answer.id}/downvote` method="POST")
                    button(class=`downvote` id=`${answer.id}`) ▼
                d(id=`answer-${answer.id}`)
                  h3.answer-content= answer.content
                  div.answer-info-content
                      div.answer-info
                        a Answered by: #{answer.User.displayName}
                        a Posted on #{(answer.createdAt).toString().split(' ').slice(0,4).join(' ')}
                if user
                  div.answer-button
                    if answer.userId == user.id
                      form(action=`/answers/${answer.id}/delete` method="POST")
                        button.delete-button(id=`${answer.id}`) Delete
          if user
            form.answer-form(action=`/questions/${question.id}/answers`, method='post')
                input(type='hidden',name='_csrf',value=csrfToken)
                p.body Your Answer
                textarea.form-box(style='resize: none',name ='answerContents')
                button.submit(name='submitAnswer') Submit Answer
  script(src="/javascripts/voting.js" type="module")
