extends layout.pug

block content
  d.page_content
    h1 #{question.title}
    div#question
        h3.question-content= content
        div
            div.question-info
                a asked by: #{question.User.displayName}
                br
                a asked on: #{(question.updatedAt).toString().split(' ').slice(0,4).join(' ')}
            if locals.user
                div.question-buttons
                    if locals.authenticated
                      if locals.user.id === question.userId
                        form(action=`/questions/${question.id}/delete` method='post')
                            button.delete-button Delete
    if answers
      div.answer-container
        each answer in answers
            if user
              button.upvote &#8593
              p.upvote-text Upvote this answer
            div.score #{answer.score}
            if user
              button.downvote &#8595
              p.downvote-text Downvote this answer
            div.answer-content= answer.content
              p answered by: #{answer.User.displayName} on #{(answer.createdAt).toString().split(' ').slice(0,4).join(' ')}
            if user
              if answer.userId == user.id
                form(action=`/answers/${answer.id}/delete` method="POST")
                  button.delete-button Delete
        if user
          form.answer-form(action=`/questions/${question.id}/answers`, method='post')
              input(type='hidden',name='_csrf',value=csrfToken)
              p.body Your Answer
              textarea.form-box(style='resize: none',name ='answerContents')
              button.submit(name='submitAnswer') Submit Answer
  script(src="/javascripts/voting.js" type="module" defer)
