extends layout.pug

append head
  title All Questions - Nap Overflow
  link(rel="stylesheet" href="/stylesheets/questions.css")
  //- script(src="/javascripts/questions.js" type="module" defer)

block content
  d.all_questions_page_content
    h1#all_questions All Questions
    ul.question_list
      each question in questions
        li.questions
          d.question_titles: a.question_links(href=`/questions/${question.id}`) Q: #{question.title}
          d.q-content  #{question.content}
          d.asked_date_author  Asked on  #{(question.createdAt).toString().split(' ').slice(0,4).join(' ')}
            span Asked by  #{question.User.displayName}
