extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/questions.css")
  script(src="/javascripts/questions.js" type="module" defer)

block content
  d.page_content
    h1= title
    ul.question_list
      each question in questions
        li.questions
          d: a(href=`/questions/${question.id}`) #{question.title}
          d  #{question.content}
          d  asked #{(question.createdAt).toString().split(' ').slice(0,4).join(' ')}
            span #{question.User.displayName}
