extends layout.pug

block content
    h1 #{question.title}
    div#question
        h3 #{question.content}
        div
            div.question-info
                a asked by: #{question.User.displayName}
                br
                a asked on: #{(question.updatedAt).toString().split(' ').slice(0,5).join(' ')}
            div
                if locals.authenticated
                    button(id=`question-${question.id}`) Answer
                    if locals.user.id === question.userId
                        button(id=`question-${question.id}`) Delete
                        button(id=`question-${question.id}`) Edit
    script
        include delete-question.js
